body {
  font-family: "Century", serif;
  background: linear-gradient(to right,#FFF4C2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.register-container {
  width: 400px;
  background-color: #fff8c9;
  border-radius: 20px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
  border: 2px solid #8B0000;
  padding: 40px;
  color: #8B0000;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.required {
  color: red;
}

input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #8B0000;
  border-radius: 8px;
  font-size: 16px;
  background-color: #FFFCEE;
  color: #8B0000;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/* Ẩn icon con mắt mặc định của Chrome */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle-button {
  display: none;
  visibility: hidden;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.7;
  filter: grayscale(100%);
  display: none;
}

.eye-icon:hover {
  opacity: 1;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #8B0000;
  color: #FFFBD1;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  transition: 0.3s;
  text-align: center;
}

button:hover {
  background-color: #B22222;
  transform: scale(1.05);
}

.error {
  color: #B22222;
  text-align: center;
  height: 20px;
  margin-top: 10px;
  font-weight: bold;
}

/* CSS cho link đăng nhập */
.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  color: #8B0000;
}

.login-link a {
  color: #B22222;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.login-link a:hover {
  text-decoration: underline;
  color: #FF4500;
}
